<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
             
<hibernate-configuration>
		<session-factory>
			<!-- JDBC stuff -->
			<property name ="hibernate.connection.username">admin</property>
			<property name ="hibernate.connection.password">gunderodd</property>
			<property name ="hibernate.connection.url">
					jdbc:oracle:thin:@database-1.cb5vpvii5jvy.us-west-2.rds.amazonaws.com:1521:orcl
			</property>
			<property name ="hibernate.connection.driver_class">
				oracle.jdbc.driver.OracleDriver	
			</property>
			
			
			<property name ="hibernate.connection.dialect">
				org.hibernate.dialect.Oracle10gDialect
			</property>
			
			<!-- Enables logging of generate SQL statements to the console -->
			<property name ="hibernate.show_sql">false</property>

			<!-- Formats it to be more readable (but it takes up more space) -->
			<property name ="hibernate.format_sql">false</property>
			
			<property name ="hibernate.connection.pool_size">10</property>
			
			
			<!-- Settings for hbm2ddl.auto
				CREATE - drops tables every time, use for development, don't use for production
					(in this case, use Hibernate_Employee etc for new tables, don't mess with old ones)
				UPDATE - will NOT delete anything, so safe for production
				NONE - hibernate won't do anything to your schema automatically. 
			 -->
			
			<property name ="hibernate.hbm2ddl.auto">create</property>
			
			<mapping class = "com.example.model.Robber"></mapping>
		</session-factory>
</hibernate-configuration>