<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
	<session-factory>
		<!-- JDBC Stuff -->
		<property name="hibernate.connection.username">puser</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.url">
			jdbc:oracle:thin:@myfirstorcl.cyw8bxzbivob.us-east-2.rds.amazonaws.com:1521:orcl
		</property>
		<property name="hibernate.connection.driver_class">
			oracle.jdbc.driver.OracleDriver
		</property>
		<!-- End JDBC Stuff -->
		
		<property name="hibernate.connection.dialect">
			org.hibernate.dialect.OracleDialect
		</property>
		
		<!-- Enables logging of generated SQL statements to the console -->
		<property name="hibernate.show_sql">true</property>
		<!-- Formats the generated SQL statements to be more readable, but they'll take up more space -->
		<property name="hibernate.format_sql">true</property>
		<!-- <property name="hibernate.connection.pool_size">10</property> -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		
		<mapping class="com.demo.model.Laptop"></mapping>
		<mapping class="com.demo.model.Customer"></mapping>
	</session-factory>
</hibernate-configuration>