<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>BhankWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>com.bhank.webapp.servlets.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerHomeServlet</display-name>
    <servlet-name>CustomerHomeServlet</servlet-name>
    <servlet-class>com.bhank.webapp.servlets.CustomerHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerHomeServlet</servlet-name>
    <url-pattern>/CustomerHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegistrationServlet</display-name>
    <servlet-name>CustomerRegistrationServlet</servlet-name>
    <servlet-class>com.bhank.webapp.servlets.CustomerRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegistrationServlet</servlet-name>
    <url-pattern>/CustomerRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositServlet</display-name>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>com.bhank.webapp.servlets.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawalServlet</display-name>
    <servlet-name>WithdrawalServlet</servlet-name>
    <servlet-class>com.bhank.webapp.servlets.WithdrawalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawalServlet</servlet-name>
    <url-pattern>/Withdrawal</url-pattern>
  </servlet-mapping>
</web-app>