a {
    color: black;
    font-weight: bold;
}

body {
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    background-color: azure;
}

header {

}

section {
    margin: 2%;
}

h1 {
    font-size: 64px;
    margin: 2%;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin: 2%;
}

#headerwallpaper {
    padding: 4px;
    border: 6px solid gray;
    border-radius: 25%;
    width: 100%;
}

#nextbtn {
    display: block;
    margin: auto;
}

.container {
}

.row {
}

.col-sm {
    text-align: center;
}