body {
    margin: 50px 100px;
}

#welcome {
    text-align: center;
}

#logo {
    height: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#regForm {
    text-align: center;
}

#loginForm {
    text-align: center;
}

label {
    text-align: left;
}

td {
    padding: 2px 8px;
}

.dollarSign {
    text-align: left;
}

.dollars {
    text-align: right;
}