#spriteArea {
    background-image: url(https://live.staticflickr.com/5211/5727877298_2c4e423161_b.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 0px;
    height: 0px;
}