<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>BasicServlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Dresponse</servlet-name>
    <servlet-class>com.example.servlets.DirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dresponse</servlet-name>
    <url-pattern>/gibberish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndirectR</servlet-name>
    <servlet-class>com.example.servlets.IndirectServlet</servlet-class>
    <init-param>
      <param-name>Favorite Food</param-name>
      <param-value>Pasta</param-value>
    </init-param>
    <init-param>
      <param-name>Best Food</param-name>
      <param-value>Mac and Cheese</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndirectR</servlet-name>
    <url-pattern>/indirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleServlet</display-name>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>com.example.servlets.LifeCycleServlet</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/LifeCycleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Session</servlet-name>
    <servlet-class>com.example.servlets.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>sesh</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>databaseUrl</param-name>
    <param-value>https://google.com</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>RequesHelper</display-name>
    <servlet-name>RequesHelper</servlet-name>
    <servlet-class>com.example.controller.RequesHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequesHelper</servlet-name>
    <url-pattern>/RequesHelper</url-pattern>
  </servlet-mapping>
</web-app>